patched-9.json
{"updatedAt":"2026-02-28T00:39:48.051Z","createdAt":"2026-02-28T00:36:19.560Z","id":"C0x9sgQUL8biSJsj","name":"9. GET Lead By Id","description":null,"active":true,"isArchived":false,"nodes":[{"id":"webhook-get-lead","name":"Webhook","parameters":{"httpMethod":"GET","options":{},"path":"api/crm/leads/:id","responseMode":"responseNode"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":1,"webhookId":"30ad9040-92c3-467a-8a4a-c1a03fd9dd0b"},{"id":"auth-get-lead","name":"Auth","parameters":{"conditions":{"string":[{"operation":"equal","value1":"={{ $json.headers[\"x-api-key\"] }}","value2":"sk_dash_67890"}]}},"position":[208,0],"type":"n8n-nodes-base.if","typeVersion":1},{"credentials":{"postgres":{"id":"17WTEVCsw075DueI","name":"Postgres account"}},"id":"select-lead","name":"SelectFullLead","parameters":{"additionalFields":{"queryParameters":"={{$request.params.id}}"},"operation":"executeQuery","options":{"database":"crm_db"},"query":"SELECT row_to_json(l) as lead, (SELECT json_agg(c) FROM conversations c WHERE c.lead_id = l.id) as conversations, (SELECT json_agg(a) FROM activities a WHERE a.lead_id = l.id) as activities FROM leads l WHERE l.id = $1;"},"position":[400,-96],"type":"n8n-nodes-base.postgres","typeVersion":2.1},{"id":"respond-lead","name":"Respond","parameters":{"options":{},"respondWith":"json","responseBody":"={\n\"lead\": {{$json.lead}},\n\"conversations\": {{$json.conversations || []}},\n\"activities\": {{$json.activities || []}}\n}","responseCode":200},"position":[608,-96],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1}],"connections":{"Auth":{"main":[[{"index":0,"node":"SelectFullLead","type":"main"}]]},"SelectFullLead":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth","type":"main"}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"all","saveDataSuccessExecution":"all","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"086278c9-f376-403d-90b5-e13cfe78ac5c","activeVersionId":"086278c9-f376-403d-90b5-e13cfe78ac5c","versionCounter":8,"triggerCount":1,"shared":[{"updatedAt":"2026-02-28T00:36:19.562Z","createdAt":"2026-02-28T00:36:19.562Z","role":"workflow:owner","workflowId":"C0x9sgQUL8biSJsj","projectId":"75tgQzu5QFykY1g9","project":{"updatedAt":"2025-05-30T15:59:15.336Z","createdAt":"2025-05-30T15:58:30.341Z","id":"75tgQzu5QFykY1g9","name":"Javier Jiménez <javiaservicios@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"6f70bef7-3b0a-4696-946b-326a33d4ff5b","projectRelations":[{"updatedAt":"2025-05-30T15:58:30.341Z","createdAt":"2025-05-30T15:58:30.341Z","userId":"6f70bef7-3b0a-4696-946b-326a33d4ff5b","projectId":"75tgQzu5QFykY1g9","user":{"updatedAt":"2026-02-28T00:40:10.000Z","createdAt":"2025-05-30T15:58:29.969Z","id":"6f70bef7-3b0a-4696-946b-326a33d4ff5b","email":"javiaservicios@gmail.com","firstName":"Javier","lastName":"Jiménez","personalizationAnswers":{"version":"v4","personalization_survey_submitted_at":"2025-05-30T15:59:43.466Z","personalization_survey_n8n_version":"1.79.3","companySize":"<20","companyType":"systems-integrator","role":"business-owner","reportedSource":"youtube"},"settings":{"userActivated":true,"easyAIWorkflowOnboarded":true,"firstSuccessfulWorkflowId":"6U15d0apu9JsAvGZ","userActivatedAt":1750371664804,"npsSurvey":{"responded":true,"lastShownAt":1769613994378},"dismissedCallouts":{"aiAgentStarterCallout":true}},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-02-27","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-28T00:38:55.263Z","createdAt":"2026-02-28T00:38:55.263Z","versionId":"086278c9-f376-403d-90b5-e13cfe78ac5c","workflowId":"C0x9sgQUL8biSJsj","nodes":[{"id":"webhook-get-lead","name":"Webhook","parameters":{"httpMethod":"GET","options":{},"path":"api/crm/leads/:id","responseMode":"responseNode"},"position":[0,0],"type":"n8n-nodes-base.webhook","typeVersion":1},{"id":"auth-get-lead","name":"Auth","parameters":{"conditions":{"string":[{"operation":"equal","value1":"={{ $json.headers[\"x-api-key\"] }}","value2":"sk_dash_67890"}]}},"position":[208,0],"type":"n8n-nodes-base.if","typeVersion":1},{"credentials":{"postgres":{"id":"17WTEVCsw075DueI","name":"Postgres account"}},"id":"select-lead","name":"SelectFullLead","parameters":{"additionalFields":{"queryParameters":"={{$request.params.id}}"},"operation":"executeQuery","options":{"database":"crm_db"},"query":"SELECT row_to_json(l) as lead, (SELECT json_agg(c) FROM conversations c WHERE c.lead_id = l.id) as conversations, (SELECT json_agg(a) FROM activities a WHERE a.lead_id = l.id) as activities FROM leads l WHERE l.id = $1;"},"position":[400,-96],"type":"n8n-nodes-base.postgres","typeVersion":2.1},{"id":"respond-lead","name":"Respond","parameters":{"options":{},"respondWith":"json","responseBody":"={\n\"lead\": {{$json.lead}},\n\"conversations\": {{$json.conversations || []}},\n\"activities\": {{$json.activities || []}}\n}","responseCode":200},"position":[608,-96],"type":"n8n-nodes-base.respondToWebhook","typeVersion":1}],"connections":{"Auth":{"main":[[{"index":0,"node":"SelectFullLead","type":"main"}]]},"SelectFullLead":{"main":[[{"index":0,"node":"Respond","type":"main"}]]},"Webhook":{"main":[[{"index":0,"node":"Auth","type":"main"}]]}},"authors":"Javier Jiménez","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-02-28T00:39:48.151Z","id":106,"workflowId":"C0x9sgQUL8biSJsj","versionId":"086278c9-f376-403d-90b5-e13cfe78ac5c","event":"activated","userId":"6f70bef7-3b0a-4696-946b-326a33d4ff5b"}]}}